<!DOCTYPE html>
<html>
    <head>
        <title>Jakub blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Jakub Blog</a></h1>
        </header>
        <br><br><br>
        <article>
            <time>published: 21.5.2024, 10:52</time>
            <h2><a href="">Moj prvy blog</a></h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet cumque minus velit id libero explicabo beatae, obcaecati maiores, quaerat porro architecto incidunt quos? Id incidunt rem, tenetur reprehenderit culpa rerum?</p>
        </article>
        <br><br><br>
        <article>
            <time>published: 21.5.2024, 10:53</time>
            <h2><a href="">Moj druhy blog</a></h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet cumque minus velit id libero explicabo beatae, obcaecati maiores, quaerat porro architecto incidunt quos? Id incidunt rem, tenetur reprehenderit culpa rerum?</p>
        </article>
    </body>
</html>