<!DOCTYPE html>
<html>
    <head>
        <title>Jakub blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Jakub Blog</a></h1>
        </header>
        <br><br><br>
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
            <br><br><br>
        {% endfor %}
    </body>
</html>